.header {
    box-shadow: 0px 3px 0px rgba(109, 109, 109, 0.2), inset 0px 3px 0px rgba(255, 255, 255, 0.2);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 10%;

}

.userName {
    cursor: pointer;

    margin-right: 20px;
    padding-bottom: 3px;

    color: #000000;
    text-decoration: none;

    border-bottom: 2px dashed #32557f;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100px;

    background-color: #ffffff;
}

@media only screen and (max-width: 400px) {
    .logo {
        max-width: 150px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 330px) {
    .logo {
        max-width: 100px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
}

.signInButtonLink {
    text-decoration: none;
}