.profile_userAvatar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
}

.profile_userAvatar_photo {
    height: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.viewBtn{
    border: none;
}