.container{
    width: 100%;
}


.block{
    display: flex;
    justify-content: space-between;
    background-color: #6e6e6e;
}
.column{
    display: flex;
    width: 25%;
    flex-direction: column;
    background-color: #61dafb;
    font-size: 15px;
}
